@using CMS.CommonHelper;
@model CMS.Models.Session

@{
    ViewData["Title"] = "Central College";
    TempData["Title"] = "Session";

}

<div>

    <div class="row mb-4">

        <div class="col-12">

            <h2 class="m-0">Add Session</h2>

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <form method="post">
                <label asp-for="SessionName">Session Name</label>
                <input asp-for="SessionName" class="form-control" />
                <span asp-validation-for="SessionName"></span>

                <label asp-for="Description" class="mt-3">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>

                <label asp-for="StartTime" class="mt-3">Start Time</label>
                <input asp-for="StartTime" type="date" class="form-control" />
                <span asp-validation-for="StartTime"></span>

                <label asp-for="EndTime" class="mt-3">End Time</label>
                <input asp-for="EndTime" type="date" class="form-control" />
                <span asp-validation-for="EndTime"></span>

                <label asp-for="AdmissionFee" class="mt-3">Admission Fee</label>
                <input asp-for="AdmissionFee" type="number" class="form-control" />
                <span asp-validation-for="AdmissionFee"></span>

                <label asp-for="Merit" class="mt-3">Merit %</label>
                <input asp-for="Merit" type="number" class="form-control" />
                <span asp-validation-for="Merit"></span>

                <label asp-for="MonthlyFee" class="mt-3">Monthly Fee</label>
                <input asp-for="MonthlyFee" type="number" class="form-control" />
                <span asp-validation-for="MonthlyFee"></span>

                <label asp-for="Capacity" class="mt-3">Capacity</label>
                <input asp-for="Capacity" type="number" class="form-control" />
                <span asp-validation-for="Capacity"></span>
                
                <label asp-for="IsInterDocumentRequired" class="mt-3">Intermediate Document Required</label>
                <br />
                <input asp-for="IsInterDocumentRequired" type="checkbox" />
                <span asp-validation-for="IsInterDocumentRequired"></span>
                <br />

                <label asp-for="Status" class="mt-3">Status</label>
                <select class="form-control" asp-for="Status" asp-items="SessionStatus.GetSessionStatus()">
                    <option selected disabled>-- Select Status --</option>
                </select>
                <span asp-validation-for="Status"></span>

                <button type="submit" class="btn custom-btn mt-2 mb-1">Save</button>

            </form>

            <a class="btn btn-secondary mt-2" asp-area="Admin" asp-controller="Session" asp-action="Index">Back to list</a>

        </div>

    </div>


</div>

@section scripts {

    <script>

        tinymce.init({
            selector: 'textarea'
        })

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}