@{
    ViewData["Title"] = "Session";
}

<div>

    <div class="row mb-4">
        <div class="col-6">
            <h2 class="m-0">Sessions</h2>
        </div>

        <div class="col-6">
            <a asp-area="Admin" asp-controller="Session" asp-action="Create" class="btn btn-primary">Add Session</a>
        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered" id="SessionTable">

                <thead>
                    <tr>
                        <th>Session Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Capacity</th>
                        <th>Enrolled Count</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>

    </div>

</div>


@section scripts {

    <script>

        let SessionTable;

        SessionTable = $('#SessionTable').DataTable({

            "ajax": {
                "url": "/Admin/Session/GetSessions"
            },
            "columns": [

                { "data": "sessionName" },
                {
                    "data": "startTime",
                    "render": function (data) {
                        const date = new Date(data);
                        return date.toLocaleDateString('en-PK');
                    }
                },
                {
                    "data": "endTime",
                    "render": function (data) {
                        const date = new Date(data);
                        return date.toLocaleDateString('en-PK');
                    }
                },
                { "data": "capacity" },
                { "data": "enrolledCount" },
                { "data": "status" },
                {
                    "data": "sessionId",
                    "render": function (data) {
                        return `
                            <a class="btn btn-primary" href="/Admin/Session/Update?id=${data}">Edit</a>
                            <a class="btn btn-danger" onclick=RemoveSesssion("/Admin/Session/Delete/${data}")>Delete</a>
                        `
                    }
                }

            ]


        });


        function RemoveSesssion(url){

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                if (result.isConfirmed) {

                    var xmlHttp = new XMLHttpRequest();


                    xmlHttp.onreadystatechange = () => {

                        if (xmlHttp.readyState == 4 && (xmlHttp.status >= 200 && xmlHttp.status < 400)) {

                            var result = JSON.parse(xmlHttp.responseText);

                            if (result.result) {
                                SessionTable.ajax.reload();
                                toastr.success(result.message);
                            }
                            else {
                                toastr.error(message);
                            }

                        }

                    }
                    xmlHttp.open('DELETE', url, true);
                    xmlHttp.send();

                }

                


            });


        }

    </script>

}