@using CMS.CommonHelper;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollegeManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CollegeManagementSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.IsInRole(WebsiteRoles.Role_Admin))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Home">Home</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Session" asp-action="Index">Session</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Course" asp-action="Index">Course</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Department" asp-action="Index">Department</a>
                            </li>

                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Instructor" asp-action="Index">Instructor</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Enrollement" asp-action="Index">Enrollement</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Fees" asp-action="Index">Fees</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Examination" asp-action="Index">Examination</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Result" asp-action="Index">Result</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            
                        </ul>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CollegeManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/5etzvnyjfyvo8kxvcelxo0shoj3xj20q5i4ky44px4rn9bw6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
