


<div class="row">

    <div class="col-3">

        <div class="dashboard-card">

            <i class="bi bi-people-fill"></i>
            <h3 class="card-heading">Students</h3>
            <h5 class="student-count"></h5>

        </div>

    </div>

</div>


@section scripts {

    <script>

        $(document).ready(function () {

            $.ajax({
                url: '/Admin/Home/GetStudentCount', 
                type: 'GET',
                success: function (response) {
                    debugger;
                    $('.student-count').text(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });


        });


    </script>


}