@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>College Management System</h1>
</div>


@*
<div class="row register_page_row m-0">

    <div class="col-6 register_heading">
        <h2>
            College Management System
        </h2>
    </div>
    <div class="col-6 register_details">
        <div class="register_page_section">
            <div class="register_page_button_section">
                <a href="" class="register_page_login">Login</a>
                <a href="" class="register_page_register">Register</a>
            </div>
            <div class="register_page_main">
                <div>
                    <label>First Name</label>
                    <input type="text" class="form-control" />
                </div>

                <div>
                    <label>Last Name</label>
                    <input type="text" />
                </div>

                <div>
                    <label>Email</label>
                    <input type="text" />
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" />
                </div>

                <button class="btn-account">Register</button>
                
            </div>
        </div>
    </div>

</div>
*@