@using CMS.Models
@model Password

<div class="row">

    <div class="col-8">

        <form method="post" asp-area="Student" asp-controller="Account" asp-action="ChangePassword">

            <div class="account-password">

                <div class="detail-inner">

                    <label asp-for="CurrentPassword">Current Password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                </div>

                <div class="detail-inner">

                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                </div>

                <div class="detail-inner">

                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger "></span>

                </div>

                <button type="submit" class="btn btn-success">Save</button>

            </div>

        </form>

    </div>

</div>