@using CMS.CommonHelper
@{
    ViewData["Title"] = "Central College";
    TempData["Title"] = "Enrollments";
}

<div>

    <div class="row mb-4">
        <div class="col-6">
            <h2 class="m-0">Enrollements</h2>
        </div>

        @* <div class="col-6 button-col">
            <a asp-area="Admin" asp-controller="Enrollement" asp-action="Create" class="btn custom-btn">Add</a>
        </div> *@
    </div>

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered" id="EnrollementTable">

                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Session</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>

    </div>

</div>


@section scripts {

    <script>

        let EnrollementTable;

        EnrollementTable = $('#EnrollementTable').DataTable({

            "ajax": {
                "url": "/Admin/Enrollement/GetEnrollements"
            },
            "columns": [


                {
                    "data": "studentRegistration.applicationUser",
                    "render": function (data) {
                        return `${data.firstName} ${data.lastName}`;
                    }
                },
                {
                    "data": "session.sessionName"
                },
                {
                    "data": "status"
                },
                {
                    "data": "id",
                    "render": function (data) {
                        return `
                                <a class="btn custom-btn" href="/Admin/Enrollement/Review?Id=${data}">Review</a>
                            `
                    }
                }

            ]


        });


        function RemoveEnrollement(url) {

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {

                    var xmlHttp = new XMLHttpRequest();


                    xmlHttp.onreadystatechange = () => {

                        if (xmlHttp.readyState == 4 && (xmlHttp.status >= 200 && xmlHttp.status < 400)) {

                            var result = JSON.parse(xmlHttp.responseText);

                            if (result.result) {
                                EnrollementTable.ajax.reload();
                                toastr.success(result.message);
                            }
                            else {
                                toastr.error(message);
                            }

                        }

                    }
                    xmlHttp.open('DELETE', url, true);
                    xmlHttp.send();

                }




            });


        }

    </script>

}
