@model List<CMS.Models.Session>

@{
    ViewData["Title"] = "Central College";
    TempData["Title"] = "Sessions";
}

<table class="table table-bordered table-striped">

    <thead>

        <tr>
            <th>Session</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        @foreach(var session in Model)
        {
            
            <tr>

                <td>@session.SessionName</td>
                <td>@session.StartTime.ToShortDateString()</td>
                <td>@session.EndTime.ToShortDateString()</td>
                <td>
                    <a class="btn custom-btn" asp-area="Student" asp-controller="Enrollment" asp-action="SessionDetails" asp-route-id="@session.Id">Details</a>
                </td>

            </tr>

        }

    </tbody>

</table>