@using CMS.CommonHelper;

@model CMS.Models.Department;
<div>

    <div class="row mb-4">

        <div class="col-12">

            <h2 class="m-0">Update Department </h2>

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <form method="post">
                <label asp-for="Name"> Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>


                <label asp-for="HOD"> HOD</label>
                <input asp-for="HOD" class="form-control" />
                <span asp-validation-for="HOD"></span>

                <button type="submit" class="btn btn-success mt-3">Save</button>

            </form>

            <a class="btn btn-secondary mt-2" asp-area="Admin" asp-controller="Department" asp-action="Index">Back to list</a>

        </div>

    </div>


</div>

@section scripts {

    <script>

        tinymce.init({
            selector: 'textarea'
        })

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}