@{
    ViewData["Title"] = "Central College";
    TempData["Title"] = "Fees";
}

<div>

    <div class="row mb-4">
        <div class="col-6">
            <h2 class="m-0">Fees</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered" id="FeesTable">

                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                        <th>Fee Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>

    </div>

</div>


@section scripts {

    <script type="text/javascript">

        let FeesTable;

        FeesTable = $('#FeesTable').DataTable({

            "ajax": {
                "url": "/Admin/Fees/GetFees"
            },
            "columns": [

                {
                    "data": "studentRegistration.applicationUser",
                    "render": function (data) {
                        return `${data.firstName} ${data.lastName}`;
                    }
                },
                { "data": "amount" },
                {
                    "data": "dueDate",
                    "render": function (data) {
                        const date = new Date(data);
                        return date.toLocaleDateString('en-PK');
                    }
                },
                {
                    "data": "feeType"
                },
                { "data": "status" },
                {
                    "data": "feeVoucher",
                    "render": function (data) {
                        return `
                                <a class="btn custom-btn" onclick="DownloadVoucher('${data}')">Voucher</a>
                                <a class="btn btn-success" onclick="PayFee('/Admin/Fees/PayFee?voucher=${data}')">Approve</a>
                                <a class="btn btn-danger" onclick="RejectFee('/Admin/Fees/RejectFee?voucher=${data}')">Reject</a>
                            `;
                    }
                }

            ]


        });

        function RejectFee(url) {

            $.ajax({
                url: url, // Example API endpoint
                type: 'GET',
                success: function (response) {
                    FeesTable.ajax.reload();
                },
                error: function (xhr, status, error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
            });


        }


        function PayFee(url) {

            $.ajax({
                url: url, // Example API endpoint
                type: 'GET',
                success: function (response) {
                    FeesTable.ajax.reload();
                },
                error: function (xhr, status, error) {
                    console.error('There was a problem with the fetch operation:', error);
                }
            });


        }

        function DownloadVoucher(filename) {
            fetch(`/download-fee-voucher/${filename}`)
                .then(response => {
                    if (response.ok) {
                        return response.blob();
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        // function DownloadVoucher(filename) {

        //     const pdfPath = filename;

        //     fetch(`/download-fee-voucher/${filename}`)
        //         .then(response => {
        //             if (response.ok) {
        //                 return response.blob();
        //             } else {
        //                 throw new Error('Network response was not ok.');
        //             }
        //         })
        //         .then(blob => {
        //             const url = window.URL.createObjectURL(blob);
        //             const a = document.createElement('a');
        //             a.style.display = 'none';
        //             a.href = url;
        //             a.download = pdfPath;
        //             document.body.appendChild(a);
        //             a.click();
        //             window.URL.revokeObjectURL(url);
        //         })
        //         .catch(error => {
        //             console.error('There was a problem with the fetch operation:', error);
        //         });

        // }

    </script>

}