@using CMS.CommonHelper;

@model CMS.Models.Examination

<div>

    <div class="row mb-4">

        <div class="col-12">

            <h2 class="m-0">Edit Exam</h2>

        </div>

    </div>

    <div class="row">

        <div class="col-12">

            <form method="post">
                <label asp-for="ExamName">Exam Name</label>
                <input asp-for="ExamName" class="form-control" />
                <span asp-validation-for="ExamName"></span>

                <label asp-for="ExamDate" class="mt-3">Exam Date</label>
                <input asp-for="ExamDate" type="datetime" class="form-control" />
                <span asp-validation-for="ExamDate"></span>


                <label asp-for="CourseId" class="mt-3">Course</label>
                <select asp-for="CourseId" asp-items="@ViewBag.CourseList" class="form-control">
                    <option selected disabled>-- Select Course --</option>
                </select>
                <span asp-validation-for="CourseId"></span>

                <label asp-for="TotalMarks" class="mt-3">Total Marks</label>
                <input asp-for="TotalMarks" type="number" class="form-control" />
                <span asp-validation-for="TotalMarks"></span>

                <label asp-for="Duration" class="mt-3">Duration</label>
                <input asp-for="Duration" type="number" class="form-control" />
                <span asp-validation-for="Duration"></span>


                <button type="submit" class="btn custom-btn mt-2 mb-1">Save</button>

            </form>

            <a class="btn btn-secondary mt-2" asp-area="Admin" asp-controller="Examination" asp-action="Index">Back to list</a>

        </div>

    </div>


</div>

@section scripts {

    <script>

        tinymce.init({
            selector: 'textarea'
        })

    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}