@{
    ViewData["Title"] = "Central College";
    TempData["Title"] = "Courses";
}

<div>

    <div class="row mb-4">
        <div class="col-6">
            <h2 class="m-0">Courses</h2>
        </div>

        <div class="col-6 button-col">
            <a class="custom-btn btn" asp-area="Admin" asp-controller="Course" asp-action="Create">Add</a>
        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <table class="table table-bordered" id="CourseTable">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Session</th>
                        <th>Course Year</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>

        </div>

    </div>

</div>


@section scripts {

    <script>

        let CourseTable;

        CourseTable = $('#CourseTable').DataTable({

            "ajax": {
                "url": "/Admin/Course/GetCourses"
            },
            "columns": [

                { "data": "name" },
                {
                    "data": "session.sessionName"
                },
                {
                    "data": "courseYear.year"
                },
                {
                    "data": "id",
                    "render": function (data) {
                        return `
                                <a class="edit-btn" href="/Admin/Course/Update?id=${data}"><i class="bi bi-pencil-square"></i></a>
                                <a class="delete-btn" onclick=RemoveCourse("/Admin/Course/Delete/${data}")><i class="bi bi-trash3-fill"></i></a>
                            `
                    }
                }

            ]


        });


        function RemoveCourse(url) {

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {

                    var xmlHttp = new XMLHttpRequest();


                    xmlHttp.onreadystatechange = () => {

                        if (xmlHttp.readyState == 4 && (xmlHttp.status >= 200 && xmlHttp.status < 400)) {

                            var result = JSON.parse(xmlHttp.responseText);

                            if (result.result) {
                                CourseTable.ajax.reload();
                                toastr.success(result.message);
                            }
                            else {
                                toastr.error(message);
                            }

                        }

                    }
                    xmlHttp.open('DELETE', url, true);
                    xmlHttp.send();

                }




            });


        }

    </script>

}
